.colortext {
    background-color: #ffe;
    /* Цвет фона */
    color: rgb(255, 0, 0);
    /* Цвет текста */
}

.layer1 {
    margin-top: 20px;
    background-color: rgb(73, 176, 236);
    text-align: center;
}
.layer2 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    text-align: center;
}
.layer3 {
    background-color: rgb(253, 253, 253);
    margin-left: 5%;
    text-align: justify;
}

.layer4 {
    margin-left: 4%;
    text-align: left;
}
.task_cond {
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
    
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}